
@{
    ViewData["Title"] = "Konfiguracija";
}

<<div class="w-100 text-center m-auto">
    <h1 class="archivo-h1 mt-2 fw-bold">Neuspješna konfiguracija</h1>
    <h3 class="archivo-light">Došlo je do greške</h3>

    <a asp-area="" asp-controller="Konfiguracija" asp-action="CreateKonfiguracija" class="btn btn-dark mt-2">Nazad</a>
</div>


